.button{
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-background-color: #323232;
    -fx-border-style:solid;
    -fx-border-radius: 10;
}
.button:hover{
    -fx-background-color: #373e3f;
}
.button:focused{
    -fx-background-color: #323232;
}